---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<div class="flex flex-col items-center px-2 py-2 gap-1">
    <h2 class="text-[#e64553] font-semibold">My Notes</h2>
    <span class="text-gray-300">...</span>

    <ul class="overflow-y-scroll h-[60vh]">
      {posts.map((post) => (
        <li class="my-6">
          <small> — {post.data.date.toLocaleDateString()}</small>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          <div></div>
          <small> {post.data.description}</small>
        </li>
      ))}
    </ul>

</div>
