---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<div class="flex flex-col items-center px-2 py-2 gap-1">
    <h2 class="text-[#e64553] font-semibold">My blogs</h2>
    <span class="text-gray-300">I mostly rant here.</span>

    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          <small> — {post.data.date.toLocaleDateString()}</small>
          <!-- <p>{post.data.description}</p> -->
        </li>
      ))}
    </ul>

</div>
