---
import Contacts from "../components/utils/contacts.astro";
---
<div class="fixed bottom-0 left-0 right-0 p-4 flex items-center justify-center gap-4 shadow-lg z-50">
    <Contacts />
    <div>
        <a href="./projects" class="hover:underline">
            My Projects!
        </a>
    </div>
</div>
