---
import Contacts from "../components/utils/contacts.astro";
---

<div class="flex items-center justify-center">
    <Contacts />
    <div class="mx-[1rem]">
        <a
            href="./projects"
            class="hover:bg-[#fe640b] hover:text-[#000] text-[#fff]"
        >
            My Projects!
        </a>
    </div>
</div>
