---
import Contacts from "../components/utils/contacts.astro";
---

<div class="p-3 flex items-center justify-center">
    <Contacts />
    <div>
        <a href="./projects">
            My Projects!
        </a>
    </div>
</div>
