---
import socials from "../../data/socials.json";
import { Icon } from "astro-icon/components";
---

<div class="flex items-center">
    {
        Object.values(socials).map(({ link, img }) => (
            <a
                href={link}
                target="_blank"
                rel="noopener noreferrer"
            >
                <Icon
                    name={img}
                    class="w-[2rem] h-[2rem]"
                />
            </a>
        ))
    }
</div>
